/* COMMON */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


h2{
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
}

.upcase{
    text-transform: uppercase;
}

.txt_center{
    text-align: center;
}

.size{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

label{
    color: #b91450;
    font-size: 14px;
    margin-bottom: 10px;
}

input,
select{
    border: 1px solid #b91450;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 140px;

}

input:focus{
    outline:none;
}

button{
    width: 70px;
    height: 30px;
    color: #b91450;
    font-weight: bold;
    font-size: 15px;
    margin: 0 5px;
}


.show{
    display: block;
}

.hidden{
    display: none;
}

/* MAIN */

.container{
    background-color: #b91450;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-top: 20px;
}

/* sezione 1 - ticket generator */

section .ticket_container{
    width: 80%;
    margin: 0 auto;
}

section .ticket_generator{
    background-color: white;
    display: flex;
    padding: 2% 10%;
    margin-top: 20px;
}

.input_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% /12) * 4);
}

.btn_container{
    text-align: center;
    background-color: white;
    padding: 20px 0;

}


section .ticket_output{
    background-color: white;
    padding: 20px;
}


.row.output{
    width: calc((100% / 12) * 12);
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 15px;
}

.passeggero{
    height: 150px;
    width: calc((100% / 12) * 4);
    background-color: grey;
    padding: 20px;
}

.output_dati{
    height: 150px;
    width: calc((100% / 12) * 2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;

}